@{

    ViewData["Title"] = "AdminSolicitudes|Desconéctate";
    Layout = "~/Views/Shared/_LayoutSessionA.cshtml";

}

<style>

    body {
        background-image: url("images/doodle-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        color: #5c2a7e;
    }

    #i_doodle {
        width: 30%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

</style>

<div>
    <img id="i_doodle" src="images/imagen.png">
</div>