<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        #i_logo {
            width: 100px;
            position: absolute;
            bottom: 0px;
            left: -100px;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom-0 box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="AdminPolizas" asp-action="Index"> POLIZAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="Reporteador" asp-action="Index"> REPORTES</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="CargaPolizas" asp-action="Index">CARGA POLIZAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="ReportePolizas" asp-action="Index"> REPORTE CARGA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="Home" asp-action="Salir">SALIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="border-top-0 footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img id="i_logo" src="images/Beneficios_Modelo.png" />
                </div>
                <div class="col-6">
                    &copy; 2020 - Desconéctate- 
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/dist/sweetalert.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
