
@{
    ViewData["Title"] = "Extracción|Desconéctate";
    Layout = "~/Views/Shared/_LayoutSessionE.cshtml";
}

<style>

    body {
        background-image: url("images/doodle-background.png");
        background-repeat: repeat-y;
        background-size: 100%;
        background-position: top left;
        color: #5c2a7e;
    }

    #i_doodle {
        width: 30%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
</style>

<link rel="stylesheet" href="lib/simple-calendar/dist/simple-calendar.css" />
<link rel="stylesheet" href="lib/bootstrap-select/dist/css/bootstrap-select.css" />

<div>
    <img id="i_doodle" src="images/imagen.png">
</div>

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col-sm-12 offset-md-1 col-md-4">
            <div id="d_calendar"></div>
        </div>
        <div class="col-6">
            <div class="row mt-5">
                <div class="col-sm-12 col-md-6  text-center align-self-center">
                    <input class="form-control" id="i_fecha_inicio" />
                </div>
                <div class="col-sm-12 col-md-6  text-center align-self-center">
                    <input class="form-control" id="i_fecha_fin" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 text-center align-self-center">
                    <button class="btn btn-primary" id="b_consulta">Consulta</button>
                </div>
                <div class="col-sm-6 text-center align-self-center">
                    <button class="btn btn-success" id="b_descarga">Descarga CSV</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12">
            <table class="table" id="t_reporte">
                <thead style="background-color: #821c61; color: white;">

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="lib/simple-calendar/dist/jquery.simple-calendar.js"></script>
<script src="lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="lib/moment/dist/js/moment.js"></script>

<script>

    $(function () {

        $("#b_descarga").hide();

        $("#b_descarga").click(function () {
            url = "@Url.Content("~/Extraccion/DescargaCsv")";

            window.open(url)
        });

  

        $("#b_consulta").click(function () {
            $("#b_descarga").hide();
            if ($("#i_fecha_inicio").val() != '') {
                url = "@Url.Content("~/Extraccion/ConsultaReporte")";

                var parametros = {
                    "fecha_inicio": $("#i_fecha_inicio").val(),
                    "fecha_fin": $("#i_fecha_fin").val()
                };

                $.post(url, parametros, function (data) {
                    if (data != "") {
                        var datos = data;
                        var dato = datos[0];
                        //alert(JSON.stringify(dato));
                        var keys = Object.keys(dato);
                        $('#t_reporte thead').html('');
                        var html_head = "<tr>";
                        keys.forEach(function (key) {

                            html_head += "<th>" + key + "</th>";
                        });

                        $('#t_reporte thead').append(html_head + "</tr>");

                        $('#t_reporte tbody').html('');

                        datos.forEach(function (dato) {
                            var html_body = "<tr>";
                            for (var valor in dato) {
                                html_body += "<td>" + dato[valor] + "</td>";
                            };
                            html_body += "</tr>";
                            $('#t_reporte tbody').append(html_body);
                        });

                        $("#b_descarga").show();
                    }
                    else {
                        swal("Sin Resultado", "El rango de fechas, no genera registros", "error");
                    }
                });
            }
            else {
                swal("Selecciona Fechas", "Para generar un reporte, es necesario seleccionar por lo menos una fecha", "error");
            }
        });

        var vacaciones = new Array();

        $("#d_calendar").simpleCalendar({
            //Defaults options below
            //string of months starting from january

            months: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
            days: ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'],
            onDateSelect: function (date, events) {

                $("#b_genera").hide();
                //Se agrega la fecha al array de vacaciones
                //Falta agregar una validacion para remover y no repetir fechas.
                var fecha = date.valueOf();
                if (vacaciones.indexOf(fecha) == -1) {
                    vacaciones.push(fecha);
                }
                else {
                    vacaciones.splice(vacaciones.indexOf(fecha), 1);
                }

                if (vacaciones.length != 0) {
                    vacaciones.sort(function (a, b) { return a - b });

                    // se cuentan los dias habiles
                    var fecha_inicio = new Date(vacaciones[0]);
                    var fecha_fin = new Date(vacaciones[vacaciones.length - 1]);
                    $("#i_fecha_inicio").val(fecha_inicio.toISOString().substr(0, 10));
                    $("#i_fecha_fin").val(fecha_fin.toISOString().substr(0, 10));
                } else {
                    $("#i_fecha_inicio").val('');
                    $("#i_fecha_fin").val('');
                }

                //console.log(vacaciones);
            }
        });
    });
</script>