@{
    ViewData["Title"] = "Desconéctate";
}

<style>
    body{
        background-image: url("images/home-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right; 
    }
    #i_desconectate{
        width: 100%;
    }
    #i_start{
        width: 100%;
    }
</style>

<div id="d_principal" class="container">
    <div class="row">
        <div class='col-6'>
            <img id="i_desconectate" src="images/desconectate2.png">
        </div>
    </div>
    <div class="row">
        <div id="d_start" class="col-3 offset-3 my-3" >
            <a id="a_start" ><img id="i_start" src="images/start boton.png"></a>
        </div>
    </div>
    <div class="row">
        <div id="d_form" class="col-4 my-3" style="display: none;">
            <div class="card" style="background-color:rgba(255, 255, 255, 0.5);">
                <div class="card-body">
                    <form id="frmAccs">
                        <div class="form-group">
                            <label for="usuario">Email address</label>
                            <input type="email" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Email">
                            <small id="emailHelp" class="form-text text-muted">El usuario es tu IdSharp.</small>
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Password</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
                        </div>
                        <div class="justify-content-center">
                        <input type="submit" class="btn btn-desconectate" value="Entrar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function() {
        
        $('#a_start').click(function(){
            $('#d_start').hide(500,function(){
                $('#d_form').show(500);
            });

        });

        $('#frmAccs').submit(function (e) {
            e.preventDefault();

            url = "@Url.Content("~/Home/Entrar")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Solicitante")";
                } else {
                    alert(data);
                }
            });
        });
    });
</script>
