
@{

    ViewData["Title"] = "Solicitante|Desconéctate";
   
    Layout = "~/Views/Shared/_LayoutSessionR.cshtml";
  

}
    <style>
        body {
            background-image: url("images/doodle-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom right;
            color: #5c2a7e;
        }

        #i_doodle {
            width: 30%;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        #i_avatar {
            width: 100%;
            position: relative;
            top: 0px;
            left: 0%;
        }
    </style>

    <div>
        <img id="i_doodle" src="images/imagen.png">
    </div>

    <h1>Hola Mundo</h1>