
@{

    ViewData["Title"] = "Solicitante|Desconéctate";
   
    Layout = "~/Views/Shared/_LayoutSessionR.cshtml";
  

}
    <style>
        body {
            background-image: url("images/doodle-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom right;
            color: #5c2a7e;
        }

        #i_doodle {
            width: 30%;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        #i_avatar {
            width: 100%;
            position: relative;
            top: 0px;
            left: 0%;
        }
    </style>

    <div>
        <img id="i_doodle" src="images/imagen.png">
    </div>

    <div class="container">
        <div class="col-md-4 offset-md-4 my-5">
            <div class="card">
                <div class="card-body">
                    <form id="FormExcel" method="post" enctype="multipart/form-data">
                        <label>Subir Archivo</label>
                        <input type="file" id="archivo" name="archivo"/>
                        <input type="submit" name="subir" value="Subir" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

        $("#FormExcel").submit(function (e) {
            e.preventDefault();
            
            url = "@Url.Content("~/CargaEmpleados/SubirArchivo")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {
                alert(data);
                //if (data == "1") {
                  //  swal("Se actualizo la solicitud Correctamente", "OK", "Success");
                //} else {
                  //  swal("Ocurrio un error", data, "error");
                //}
            });
            
        });
        
    </script>