@{
    ViewData["Title"] = "Aprobador|Desconéctate";
}

<style>


    body {
        background-image: url("images/doodle-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        color: #5c2a7e;
    }

    #i_doodle {
        width: 30%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .b_data {
    }
</style>

<link rel="stylesheet" href="lib/bootstrap-select/dist/css/bootstrap-select.css" />

<div>
    <img id="i_doodle" src="images/imagen.png">
</div>

    <div class="container">
        <div class="row">
            <div class="col-6" style="color:#b41547;">
                    <h3 class="font-weight-bold">Maribel Rodriguez Alcocer</h3>
                    <h4>IDSAP: 48393</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <Strong><span style="font-size:x-large;">Solicitudes Hechas</span></Strong>
                <table class="table table-striped">
                    <thead style="background-color: #821c61; color: white;">
                        <tr>
                            <th scope="col">FOLIO</th>
                            <th>NOMBRE</th>
                            <th scope="col">SOLICITUD</th>
                            <th scope="col">FECHA INICIO</th>
                            <th scope="col">FECHA FINAL</th>
                            <th scope="col">ESTATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="renglon" alt="1">
                            <th scope="row">433</th>
                            <td>MARIA PEREZ ROSALES</td>
                            <td>VACACIONES</td>
                            <td>2020-04-06</td>
                            <td>2020-04-08</td>
                            <td id="td_1">PENDIENTE
                            </td>
                        </tr>
                        <tr class="renglon" alt="2">
                            <th scope="row">434</th>
                            <td>JUAN LOPEZ IBARRA</td>
                            <td>VACACIONES</td>
                            <td>2020-04-16</td>
                            <td>2020-04-20</td>
                            <td id="td_2">PENDIENTE
                            </td>
                        </tr>
                        <tr class="renglon" alt="3">
                            <th scope="row">456</th>
                            <td>ENRIQUE SANCHEZ CORTES</td>
                            <td>PERMISO PATERNIDAD</td>
                            <td>2020-05-02</td>
                            <td>2020-05-12</td>
                            <td id="td_3">PENDIENTE
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            SOLICITANTE: <b id="data_nombre"></b> <br />
                            IDSAP: <b id="data_idsap"></b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">ANTIGÜEDAD: <b id="data_antiguedad"></b></div>
                        <div class="col-6 font-weight-bold">FECHA ANIVERSARIO: <b id="data_aniversario"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">DÍAS POR DISFRUTAR: <b id="data_disfrutar"></b></div>
                        <div class="col-6 font-weight-bold">DÍAS CADUCAN: <b id="data_caducan"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">DÍAS TOMADOS: <b id="data_tomados"></b></div>
                        <div class="col-6 font-weight-bold">PERIODO: <b id="data_periodo"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">SOLICITUD: <b id="data_tipo"></b></div>

                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">FECHA INICIO: <b id="data_inicio"></b></div>
                        <div class="col-6 font-weight-bold">FECHA FIN: <b id="data_fin"></b></div>
                    </div>
                </div>
             </div>
            <div class="col-4 mt-2">
                <div class="container">
                    <div class="row">
                        <label>CAMBIAR ESTATUS:</label>
                        <select id="s_estatus" class="selectpicker">
                            <option>PENDIENTE</option>
                            <option>APROBADO</option>
                            <option>DENEGADO</option>
                        </select>
                    </div>
                    <div class="row rounded mt-2">
                        <textarea class="form-control" rows="3">Observaciones...</textarea>
                    </div>
                    <div class="row mt-2 text-center">
                        <button id="b_guardar" class="btn btn-desconectate" >GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="lib/bootstrap-select/dist/js/bootstrap-select.js"></script>

    <script>
        $(function () {
            var alt = '';
            $(".renglon").click(function () {
                alt = $(this).attr('alt');
                
                switch (alt) {
                    case '1':
                        var nombre = "MARIA PEREZ ROSALES";
                        var idsap = 3489;
                        var antiguedad = 5;
                        var aniversario = '12 NOVIEMBRE';
                        var dias_disfrutar = 8;
                        var dias_caducan = '2020-11-13';
                        var dias_tomados = 2;
                        var periodo = 2019;
                        var tipo = 'VACACIONES';
                        var fecha_inicio = '2020-04-06';
                        var fecha_fin = '2020-04-08';
                        break;
                    case '2':
                        var nombre = "JUAN LOPEZ IBARRA";
                        var idsap = 3587;
                        var antiguedad = 2;
                        var aniversario = '02 MARZO';
                        var dias_disfrutar = 10;
                        var dias_caducan = '2020-03-03';
                        var dias_tomados = 0;
                        var periodo = 2019;
                        var tipo = 'VACACIONES';
                        var fecha_inicio = '2020-04-16';
                        var fecha_fin = '2020-04-20';
                        break;

                    case '3':
                        var nombre = "ENRIQUE SANCHEZ CORTES";
                        var idsap = 2457;
                        var antiguedad = 3;
                        var aniversario = '23 AGOSTO';
                        var dias_disfrutar = 2;
                        var dias_caducan = '2020-08-24';
                        var dias_tomados = 8;
                        var periodo = 2019;
                        var tipo = 'PERMISO PATERNIDAD';
                        var fecha_inicio = '2020-05-02';
                        var fecha_fin = '2020-05-12';
                        break;
                }

                $("#data_nombre").html(nombre);
                $("#data_idsap").html(idsap);
                $("#data_antiguedad").html(antiguedad);
                $("#data_aniversario").html(aniversario);
                $("#data_disfrutar").html(dias_disfrutar);
                $("#data_caducan").html(dias_caducan);
                $("#data_tomados").html(dias_tomados);
                $("#data_periodo").html(periodo);
                $("#data_tipo").html(tipo);
                $("#data_inicio").html(fecha_inicio);
                $("#data_fin").html(fecha_fin);
            });

            $("#b_guardar").click(function () {
                $("#data_nombre").html('');
                $("#data_idsap").html('');
                $("#data_antiguedad").html('');
                $("#data_aniversario").html('');
                $("#data_disponibles").html('');
                $("#data_caducan").html('');
                $("#data_tomados").html('');
                $("#data_periodo").html('');
                $("#data_tipo").html('');
                $("#data_inicio").html('');
                $("#data_fin").html('');

                

                var estatus = $("#s_estatus").val();

                switch (alt) {
                    case '1':
                        $('#td_1').html(estatus);
                        break;
                    case '2':
                        $('#td_2').html(estatus);
                        break;
                    case '3':
                        $('#td_3').html(estatus);
                        break;
                }

                $("#s_estatus").val('');
            });
        });
    </script>